.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span {
    font-size: 0.9rem;
    font-weight: 600;
}

.experienceBar>div {
    flex: 1;
    height: 6px;
    background: var(--gray-line);
    border-radius: 4px;
    position: relative;
    margin: 0 1.5rem;
}

.experienceBar>div>div {
    position: absolute;
    height: 100%;
    background-color: #0fd439;
    border-radius: 5px;
    flex: 1;
}

span.currentExperience {
    position: absolute;
    top: 0.8rem;
    transform: translateX(-50%);
}